<header class="w-full bg-slate-800 shadow-md">
    <div class="container mx-auto py-3 px-4 flex justify-between items-center">
        <a href="{{ url_for('home') }}">
            <img src="{{ url_for('static', filename='images/logo_vulcaflex.png') }}" alt="Logótipo da Vulcaflex" class="h-10" />
        </a>

        <a href="#">
            <img
                src="{{ url_for('static', filename='images/avatar.svg') }}"
                alt="Avatar do Utilizador"
                class="w-10 h-10 rounded-full cursor-pointer"
            />
        </a>
    </div>
</header>
